@charset "UTF-8";
/*Мини-фреймворк flex*/
.flex_main {display: flex;display:-webkit-flex;}
.flex_row{flex-direction:row;-webkit-flex-direction:row;-ms-flex-direction:row;}
.flex_row-reverse{flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;}
.flex_column{flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;}
.flex_column-revers{flex-direction:column-reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;}
.flex_wrap{flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;}
.flex_nowrap{flex-wrap:nowrap;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;}
.flex_jcontent-start{justify-content:flex-start;-webkit-justify-content:flex-start;-ms-justify-content:flex-start;}
.flex_jcontent-end{justify-content:flex-end;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;}
.flex_jcontent-center{justify-content:center;-webkit-justify-content:center;-ms-justify-content:center;}
.flex_jcontent-between{justify-content:space-between;-webkit-justify-content:space-between;-ms-justify-content:space-between;}
.flex_jcontent-around{justify-content:space-around;-webkit-justify-content:space-around;-ms-justify-content:space-around;}
.flex_aitem-start{align-items:flex-start;-webkit-align-items:flex-start;-ms-align-items:flex-start;}
.flex_aitem-end{align-items:flex-end;-webkit-align-items:flex-end;-ms-align-items:flex-end;}
.flex_aitem-center{align-items:center;-webkit-align-items:center;-ms-align-items:center;}
.flex_aitem-stretch{align-items:stretch;-webkit-align-items:stretch;-ms-align-items:stretch;}
.flex_aitem-baseline{align-items:baseline;-webkit-align-items:baseline;-ms-align-items:baseline;}
.flex_acontent-start{align-content:flex-start;-webkit-align-content:flex-start;-ms-align-content:flex-start;}
.flex_acontent-end{align-content:flex-end;-webkit-align-content:flex-end;-ms-align-content:flex-end;}
.flex_acontent-center{align-content:center;-webkit-align-content:center;-ms-align-content:center;}
.flex_acontent-stretch{align-content:stretch;-webkit-align-content:stretch;-ms-align-content:stretch;}
.flex_acontent-between{align-content:space-between;-webkit-align-content:space-between;-ms-align-content:space-between;}
.flex_acontent-around{align-content:space-around;-webkit-align-content:space-around;-ms-align-content:space-around;}
.anime{transition:all 200ms linear; -webkit-transition:all 200ms linear; -ms-transition:all 200ms linear; -o-transition:all 200ms linear; -moz-transition:all 200ms linear;}
*{box-sizing: border-box; margin:0; padding: 0;}
body{
  background-color: #eaeaea;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  font-size: 1.14vmax;
  line-height: 1.33vmax;
}
.wrap {
  width: 86.66vw;
  margin: 0 auto;
  position: relative;
}
.dark {
  background-color: #2e2e30;
  color: #fff;
}
.grey {
  background-color: #838d8f;
  color: #fff;
}
#top {
  width: 100%;
  height: 9.16vmax;
}
#top .wrap, #menu .wrap {
  height:inherit;
}
.btn {
  border-radius: 0.33vw;
  padding: 0.5vw 1.1vw;
  cursor: pointer;
  align-items: center;
}
#sign{
  border: 1px solid #ededed;
  color: #fff;
  font-size: 1.03vmax;
  height: auto;
}
#sign:hover {
  background-color: #ededed;
  color: #2e2e30;
}
#sign img, #cart img{
  width: 3.5vmax;
  height: 2.5vmax;
  padding-right: 1vmax;
}
#location, #currency{
  font-family: "PT Serif";
  margin-left: 5.25vw;
  color: #aaaaaa;
  padding: 1.05vw 0.32vw;
}
#currency{
  margin-left: 0;
  margin-right: 6.33vmax;
}
#location span, #currency span{
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #fff;
  cursor: pointer;
  margin-left: 1,66;
  font-size: 0.83vmax;
}
#logo, #logo a{
  display: block;
  height: 3.33vmax;
  width: 24.33vmax;
  text-decoration: none;
  color: #fff;
  font-size: 3.1vmax;
  font-weight: bold;
}
#logo {
  text-align: center;
}
#cart {
  border: 1px solid #24b4b4;
  color: #24b4b4;
  font-size: 1.03vmax;
  height: auto;
} /* когда будет время, добавить иконки! */
#cart:hover {
  background-color: #24b4b4;
  color: #fff;
}
#menu{
  background-color: #fff;
  width: 100%;
  height: 4.16vmax;
}
nav li{
  list-style: none;
}
nav a{
  text-decoration:none;
}
#main_nav, #main_nav li, #main_nav a{
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
  align-items: center;
  justify-content: center;
}
 #main_nav a{
   padding:0 1.5vmax;
   color: #3c3d41;
   text-transform: uppercase;
   font-weight: bold;
 }
 #main_nav a:hover{
   color: #fff;
   background-color:  #3c3d41;
 }
 #search_button img{
   position: absolute;
   cursor: pointer;
   right: 0;
   width: 2.5vmax;
   height: 2.5vmax;
   top:1vmax;
 }
 #banner{
   width: 100%;
   text-align: center;
   height: 18vmax;
   overflow:hidden;
   background-color: rgb(215,232,236);
 }
 #banner img{
   min-height: 100%;
   max-width: 100%;
 }
main{
  padding: 2.16vmax 0;
  margin-top: 3vmax;
}
#leftbar{
  width: 19.16vw;
}
#rightbar{
  width: 60.83vw;
}
.box{
  border-radius: 0.33vw;
  background-color: #fff;
}
#loadmore{
  border:none;
  width: 100%;
  border-radius: 1px;
  color: #fff;
  background-color: #b8c6c7;
  font-size: 1.25vmax;
  padding: 1.66vmax;
  margin: 1.66vmax 0;
  cursor: pointer;
}
#loadmore:hover {
  transform: scale(0.95);
}
.list_product{
  flex-flow: row wrap;
}
.product{
  flex-flow: column nowrap;
  text-decoration: none;
  padding: 1.66vmax 1.66vw;
  width: 19.16vw;
  height: 25vmax;
  text-align:center;
  margin-bottom: 1.66vmax;
  margin-right: 1.66vw;
  position: relative;
}
.product:nth-of-type(3n){
  margin-right:0;
}

.product:hover{
  transform: scale(1.05);
}
.img_product{
  width: 100%;
  height: 13.33vmax;
  overflow: hidden;
  text-align: center;
  margin-bottom: 0.1vmax;
}
.img_product img{
  height: 100%;
}
.product h2{
  font-size: 1.25vmax;
  line-height: 1.5vmax;
  text-align: center;
  color: #3a3d3f;
  font-weight: bold;
}
.product p:first-of-type{
  text-align: center;
  font-style: italic;
  color: #838c8e;
  font-size: 1vmax;
  margin: 0 0.83vmax;
}
.price{
  color: #3a3d3f;
  font-size: 1vmax;
  font-weight: bold;
}
.tag{
  background-color: #84ce8b;
  color: #fff;
  padding: 0.31vmax;
  font-size:0.73vmax;
  position: absolute;
  right:1.66vw;
  top:1.66vmax;
  z-index: 1;
  letter-spacing:0.2vw;
}
.list_box{
  width:100;
}
.title_box, .title_filter{
  width:100;
  height:4.16vmax;
  padding: 0 1.66vmax;
  border-bottom: #eee 1px solid;
  cursor: pointer;
}
.title_box p, .title_filter p{
  font-weight: bold;
  color: #3c3d41;
  letter-spacing: 0.1vw;
}
.title_box img{
  width: 1vw;
}
.title_box.open img{
  transform: rotate(90deg);
}
.list_link{
  background-color: #838d8f;
  padding: 0;
  height: 0;
  overflow: hidden;
}
.list_link.open{
  height:auto;
  overflow: auto;
  padding: 1.66vmax;
}
.list_link a{
  color: #daddde;
  font-size: 1.o8 vmax;
  display: block;
  width: 100%;
}
.list_link a:hover{
  color: white;
}
.list_link li{
  margin-bottom: 1.25vmax;
}
.list_link li:last-of-type{
  margin-bottom: 0;
}
.filter_box{
  margin-top: 1.83vmax;
}
.list_filter label{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 2.66vmax;
  height: 2.66vmax;
  border-radius: 2.66vmax;
  cursor: pointer;
  background-color: #c4c9ca;
}
.list_filter li {
  list-style: none;
  margin-right: 0.66vw;
  margin-bottom: 0.83vmax;
}
.list_filter li:nth-of-type(5n){
  margin-right: 0;
}
.list_filter input[type="checkbox"]{
  display: none;
}
.content_filter {
  padding: 1.6vmax;
}
.color_list input[type=checkbox]:checked + label {
  box-shadow: 0 0 2px 4px #707475;
}
input[type=checkbox]:checked + label {
  background-color: #838d8f;
  color: #fff;
}
.price_box input{
  margin-top: 1vmax;
}
.price_box input{
  border: none;
  font-size: 1.08vmax;
  color: #707475;
  text-align: center;
  width: 30%;
}
.price_box input:focus {
  outline: none;
}
footer{
  width: 100%;
  height: 20vmax;
  background: #fff;
  padding: 5vmax;
}
#footer_nav a{
  color: #3c3d41;
  font-weight: bold;
  font-size: 1vmax;
  margin: 2vmax;
}
#footer_nav a:hover {
  text-decoration: underline;
}
#footer_nav{
  margin-bottom: 3vmax;
}
#newsletter p{
  color: #3c3d41;
  margin-right: 2vmax;
  font-weight: bold;
  font-size: 1vmax;
}
#newsletter input{
  border: none;
  height: 2.66vmax;
  width: 18.8vmax;
  background-color: #eee;
  font-size: 1vmax;
  padding-left: 1.25vmax;
  background-image: url(../img/mes.png);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  border-radius: 0.33vmax;
}
#soc_list img{
  width: 3vmax;
  height: 3vmax;
  margin: 2vmax;
}
#soc_list li{
  list-style: none;
}